<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>


<div class="container">

  <div class="d-flex justify-content-between my-5">
    <%= link_to 'Back', gardens_path, class: 'btn btn-info' %>

    <%= link_to new_garden_plant_path(@garden), class: 'btn btn-secondary' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>


  <div class="cards">
    <% @garden.plants.each do |plant| %>

      <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
        <%= plant.name %>

        <%= link_to plant_path(plant), method: :delete, class: 'btn btn-danger position-absolute' do %>
          <i class="fas fa-minus-square"></i>
        <% end %>


        <!-- tags -->
        <div class="card-tags">
          <% plant.tags.each do |tag| %>

            <span><%= tag.name %></span>

          <% end %>

          <%= link_to '+', new_plant_plant_tag_path(plant) %>
        </div>


      </div>

    <% end %>
  </div>
</div>




